[Desktop Entry]
Name=WeChatSetup
Type=Application
Exec=lxterminal --command "wine /root/WeChatSetup.exe.exe"
StartupNotify=true
Path=/root/package
Icon=E282_WeChat.0
